$color: steelblue;

.my-flix {
    color: $color;
}

body {
    background: rgb(117,117,117) !important;
    background: linear-gradient(335deg, rgba(117,117,117,1) 0%, rgba(189,189,189,1) 24%, rgba(238,238,238,1) 49%, rgba(189,189,189,1) 76%, rgba(117,117,117,1) 100%) !important;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.app-container {
    width: 100%;
}